name: Build and Upload ECR image

on:
  push:
    branches:
      - main
      - develop
      
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: your-repo
          IMAGE_TAG: ${{ github.sha }}
        run: |
          echo "Docker building..."
          echo "Docker pushing..."
          # docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          # docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG